.programs-header{
    display: flex;
    justify-content: space-between;
}



.programs-header span{
    font-size: 3rem;
    font-weight: 700;
}

.plans-container{
    margin-top: -4rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
    /* justify-content: space-between; */
}

.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.plan{
    display: flex;
    flex-direction: column;
    background: rgb(110, 110, 110);
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;
}

.plan:nth-child(2){
    background: orange;
    transform: scale(1.1);
}

.plan svg{
    fill: rgb(0, 0, 0);
    width: 2rem;
    height: 2rem;
}

.plan :nth-child(2){
    font-size: 1rem;
    font-weight: bold;
}

.plan :nth-child(3){
    font-size: 1rem;
    font-weight: bold;
}

.plan:nth-child(5){
    font-size: 0.8rem;
    
}

.plans-blur-1{
    width: 32rem;
    height: 22rem;
    top: 6rem;
    left: 0rem;
}